@*@model doctorhubBusinessEntities.viewModels.QuizVM
    @{
        List<doctorhubBusinessEntities.viewModels.QuizVM> QuizList = new KMTDataAccess.DirectoryDataAccess().GetQuiz();
        List<doctorhubBusinessEntities.viewModels.AssessmentAttend> AssessmentAttendList = new KMTDataAccess.DirectoryDataAccess().GetListAssessmentAttend();
    }
    <h2 class="text-center"> TAKE  ASSESSMENT </h2>
    <hr />
    @foreach (var item in QuizList.Where(t => t.IsActive == true && (System.DateTime.Today >= t.FromDate && System.DateTime.Today <= t.ToDate)))
    {
        if ((AssessmentAttendList.Where(t => t.QuizID == item.QuizID).Select(S => S.status).FirstOrDefault() == "PASS") || (AssessmentAttendList.Where(t => t.QuizID == item.QuizID).Select(S => S.AttendCount).FirstOrDefault() >= 2))
        {
            <div class="user-features-links">
                <ul>
                    <li style="pointer-events: none; color: grey"> @Html.ActionLink(@item.QuizName, "SelectQuiz", "Admin", new { QuizId = @item.QuizID }, FormMethod.Post) <i class="fa fa-slack"></i> </li>
                </ul>
            </div>
        }
        else
        {
            <div class="user-features-links">
                <ul>
                    <li> @Html.ActionLink(@item.QuizName, "SelectQuiz", "Admin", new { Assessment = @item.Assessment }, FormMethod.Post) <i class="fa fa-pencil-square"></i> </li>
                </ul>
            </div>
        }
    }*@

