
@{
    ViewBag.Title = "Registration";
    Layout = null;
}
<style>
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }

        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }

    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }

    .btn-twitter {
        background-color: #42AEEC;
        color: #fff;
    }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="top-orange">
<div class="navbar navbar-inverse navbar-custom">

    @using (Html.BeginForm("UserRegistration", "Login", FormMethod.Post))
    {
        //this  is for create form tag
        @Html.AntiForgeryToken()
        // this is for prevent CSRF attack
        @Html.ValidationSummary(true)
        <body style="background-image: url('content/logincssjs/images/bg-01.jpg');">

            <table>
                <tr>
                    <td>
                        <div>
                            <img src="~/images/dmsg.jpg" />

                        </div>
                    </td>
                    <td>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="container">
                                    <p style="color:red">@ViewBag.Rerror</p>
                                    <p style="color:forestgreen">@ViewBag.success</p>
                                    <div class="card bg-light">
                                        <article class="card-body mx-auto" style="max-width: 400px;">
                                            <h4 class="card-title mt-3 text-center">Create Account</h4>
                                            <p class="text-center">Get started with your free account</p>
                                            <p>
                                                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                                                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                                            </p>
                                            <p class="divider-text">
                                                <span class="bg-light">OR</span>
                                            </p>
                                            <form>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                                    </div>
                                                    <input name="name" class="form-control" placeholder="Full name" type="text" id="name">
                                                </div> <!-- form-group// -->
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                                    </div>
                                                    <input name="email" class="form-control" placeholder="Email address" type="email" id="email">
                                                </div> <!-- form-group// -->
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                                    </div>
                                                    <select class="custom-select" style="max-width: 120px;">
                                                        <option selected="">+91</option>
                                                        <option value="1">+972</option>
                                                        <option value="2">+198</option>
                                                        <option value="3">+701</option>
                                                    </select>
                                                    <input name="mobile" class="form-control" placeholder="Phone number" type="text" id="mobile">
                                                </div> <!-- form-group// -->
                                                @*<div class="form-group input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                                        </div>
                                                        <select class="form-control">
                                                            <option selected=""> Select job type</option>
                                                            <option>Designer</option>
                                                            <option>Manager</option>
                                                            <option>Accaunting</option>
                                                        </select>
                                                    </div>*@ <!-- form-group end.// -->
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                    </div>
                                                    <input name="password" class="form-control" placeholder="Create password" type="password" id="password">
                                                </div> <!-- form-group// -->
                                                @*<div class="form-group input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                        </div>
                                                        <input name="password2" class="form-control" placeholder="Repeat password" type="password" id="password2">
                                                    </div>*@ <!-- form-group// -->
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                                                </div> <!-- form-group// -->
                                                <p class="text-center">Have an account? <a href='@Url.Action("Login", "Login")'>Log In</a> </p>
                                                <p class="text-center">Forget Password? <a href='@Url.Action("ForgetPass", "Login")'>Recover</a> </p>
                                            </form>
                                        </article>
                                    </div> <!-- card.// -->

                                </div>
                                <!--container end.//-->
                                <br>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>



        </body>
    }


  </div>
    </div>
  
