@model doctorhubBusinessEntities.CapabilitiesModel
@{
    ViewBag.Title = "ManageCapability";
}
<h1>Manage Capabilities</h1><hr />
@using (Html.BeginForm("ManageCapabilities", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form form-vertical">
        <div class="row">
            <div class="col-sm-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label> Capability Name <b class="text-danger">*</b></label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "txtCapabilitie", @placeholder = "Enter Capability" })
                    <small id="errorCapabilitieId" style="display: none; color: red">Enter Capability.</small>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Business Segment <b class="text-danger">*</b></label>
                    @Html.DropDownListFor(model => model.BsId, (IEnumerable<SelectListItem>)ViewBag.BSList, "--- Select Business Segment ---", new { @class = "form-control ddlValidation", id = "ddlBS" })
                    @Html.HiddenFor(model => model.Id)
                    <input type="hidden" value="@ViewBag.KeyId" id="hdKeyId" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="checkbox">
                        &nbsp;&nbsp;&nbsp;
                        <label>@Html.CheckBoxFor(model => model.IsActive, new { @id = "IsActive", @checked = "checked" })Is Active</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <br />
                <button type="submit" name="submit" class="btn btn-primary btn-sm btnSubmit" id="btnSave">Save</button>
                <a href="@Url.Action("ManageCapabilities", "Admin")" class="btn btn-default btn-sm">Reset</a>
            </div>
        </div>
        <hr />
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <table id="tblManageCapabilities" class="table table-striped table-bordered grid-table display nowrap" style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Capabilities Name</th>
                    <th>Business Segment Name</th>
                    <th>Is Active</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br>
    </div>
</div>

<script src="~/CustomScripts/Capabilitie.js"></script>
