@model doctorhubBusinessEntities.LobModel
@{
    ViewBag.Title = "ManageLineofBusiness";
}
<h1>Manage Line Of Businesses</h1><hr />

@using (Html.BeginForm("ManageLineofBusiness", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class=" form form-vertical">
        <div class="row">
            <div class="col-sm-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label> Line of Business <b class="text-danger">*</b></label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "txtLob", @placeholder = "Enter Line of Business" })
                    <small id="errorLobId" style="display: none; color: red">Enter Line of Business.</small>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label> Capabilities <b class="text-danger">*</b></label>
                    @Html.DropDownListFor(model => model.CapId, (IEnumerable<SelectListItem>)ViewBag.CAPList, "--- Select Capabilities ---", new { @class = "form-control input-sm", id = "ddlCAP" })
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="checkbox">
                        &nbsp;&nbsp;&nbsp;
                        <label>@Html.CheckBoxFor(model => model.IsActive, new { @id = "IsActive", @checked = "checked" })Is Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <br />
                <button type="submit" name="submit" class="btn btn-primary btn-sm btnSubmit" id="btnSave">Save</button>
                <a href="@Url.Action("ManageLineofBusiness", "Admin")" class="btn btn-default btn-sm">Reset</a>
            </div>
        </div>
        <hr />
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <table id="tblManageLineofBusiness" class="table table-striped table-bordered grid-table display nowrap" style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Business Segment Name</th>
                    <th>Capabilities Name</th>
                    <th>Line of Business</th>
                    <th>Is Active</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br>
    </div>
</div>

<script src="~/CustomScripts/LineOfBusiness.js"></script>
