@model doctorhubBusinessEntities.BusinessSegmentModel
@{
    ViewBag.Title = "ManageBusinessSegment";
}
<h1>Manage Business Segments</h1><hr />

@using (Html.BeginForm("ManageBusinessSegment", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-5">
                <label>Business Segment<b class="text-danger">*</b></label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "txtBusinessSegment", @placeholder = "Enter Business Segment", @style = "height:33px; width:450px; !important;", @maxlength = "50" })
                <small id="errorBusinessSegmentId" style="display: none; color: red">Enter Business Segment.</small>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                    <label>&nbsp;</label>

                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(m => m.IsActive, new { @id = "IsActive", @checked = "checked" })Is Active</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br />
                    <button type="submit" name="submit" class="btn btn-primary btn-sm btnSubmit" id="btnSave">Save</button>
                    <a href="@Url.Action("ManageBusinessSegment", "Admin")" class="btn btn-default btn-sm">Reset</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <table id="tblManageBusinessSegment" class="table table-striped table-bordered grid-table display nowrap" style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Business Segment Name</th>
                    <th>Is Active</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br>
    </div>
</div>

<script src="~/CustomScripts/BusinessSegment.js"></script>
